<div class="footer-wrap">
  <div class="footer">
    <div class="footer-contain">
      <div class="logo-copy-wrapper">
        <a href="/">
          <img style="transform: rotate(-90deg);" src="/images/logo.svg" alt="imageX"
            class="logo-wordmark enso-logo-wordmark">
        </a>
      </div>
    </div>
  </div>
</div>