<div class="main-menu wide with-border-bottom">
  <div class="topbar">
    <div class="container homepage">
      <a href="/" class="headline">
        <img src="/images/logo.svg" alt="enso" class="logo-wordmark enso-logo-wordmark">
        <span
          style="font-size: 25px; color: black; margin-left: 5px; margin-bottom: 0px; font-weight: 500;">imageX</span>
      </a>
      <div style="margin-left: 55vw;">
        <button id="connectButton">
          <div hidden="true" style="display: inline-block;">
            <svg id="connectCircle" viewBox="0 0 120 120" version="1.1" xmlns="http://www.w3.org/2000/svg">
              <circle cx="60" cy="60" r="30" />
            </svg>
          </div>
          <span>
            Connect wallet
          </span>
        </button>
      </div>
    </div>
  </div>
</div>