<div class="main-menu wide with-border-bottom">
  <div class="topbar">
    <div class="container homepage">
      <a href="/" class="headline">
        <img src="/images/logo.svg" alt="enso" class="logo-wordmark enso-logo-wordmark">
        <span
          style="font-size: 25px; color: black; margin-left: 5px; margin-bottom: 0px; font-weight: 500;">imageX</span>
      </a>
      <div style="margin-left: 55vw;">
        <button id="connectButton">
          <span style="position: relative; bottom: 7px;">Connect wallet</span>
        </button>
      </div>
    </div>
  </div>
</div>