<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/main.css">
  <style>
    .form-element {
      padding: 5px;
    }
    ul {
      list-style: none;
    }
    ul li:before {
      content: "✔️";
      margin: 0 16px 0 0;
    }
  </style>
  <title>imageX</title>
</head>

<body>
  <header>
    <%- include('../partials/header'); %>
  </header>
  <main>
    <div class="page login-page">
      <div class="container">
        <h3>imageX</h3>
        <ul>
          <li>Upload an image containing text in Italien, German or Spanish.</li>
          <li>Pay with ether <img src="/images/ethereum.svg" alt="Ether" style="position: relative;top: 5px;">.</li>
          <li>Have the image translated.</li>
        </ul>
        <form action="/upload" method="post" id="form-upload">
          <div class="form-element">
            <label for="email">email:</label>
            <input type="email" name="email" style="width: 200px;">
          </div>
          <div class="form-element">
            <select name="region" id="region">
              <option value="">choose an option</option>
              <option value="IT">Italien</option>
              <option value="ES">Spanish</option>
              <option value="GR">German</option>
            </select>
          </div>
          <div class="form-element">
            <input type="file" name="photo">
          </div>
          <div class="form-element">
            <input type="submit" style="margin-top: 10px;" id="submit-button" class="button primary top-pad"
              value="Submit">
          </div>
        </form>
        <div>
          <p id="trx-status"></p>
        </div>
      </div>
    </div>
  </main>

  <footer>
    <%- include('../partials/footer'); %>
  </footer>
</body>
<%- include('../partials/scripts'); %>

</html>